:root {
    /* The fallback value */
    --dynamic-fs: 3rem; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden; 
}

.container {
  display: flex;
  height: 100vh;
  text-align: center;
}

.column {
  flex: 1;
  padding: 20px;
  display: flex;           
  flex-direction: column;  
  height: 100%;            
}

.assigned {
  background: #e8f5e9; /* light green */
}

.failed {
  background: #ffebee; /* light red */
}

#assignedDisplay, #failedDisplay {
  flex-grow: 1;            
  overflow-y: auto;        
}

h2 {
  text-align: center;
  font-size: clamp(1.5rem, var(--dynamic-fs), 15rem);
  flex-shrink: 0;         
}

h3 {
  text-align: center;
  font-size: clamp(1rem, calc(var(--dynamic-fs) * 0.75), 5rem);
  flex-shrink: 0;        
  margin-top: auto;      
}

.truck {
  font-size: calc(var(--dynamic-fs) * 1.8);
  padding: 15px;
}
